{% extends 'account/sharedPage.html' %}
{% load static %}
{% block title %} Login {% endblock %}
{% block form %}
	<form class="login100-form validate-form" method = "POST">
		{% csrf_token %}
		<span class="login100-form-logo">
			<i class="zmdi zmdi-landscape"></i>
		</span>

		<span class="login100-form-title p-b-34 p-t-27">
			Log in
		</span>

		{% for field in form %}
		<div class="wrap-input100 validate-input" data-validate = "Enter {{field.tag}}">
			{{ field }}
			<span class="focus-input100" data-placeholder="&#xf207;"></span>
		</div>
		{% endfor %}

		<div class="container-login100-form-btn">
			<button class="login100-form-btn" type="submit">
				Login
			</button>
		</div>

		<div class="text-center p-t-90">
			<a class="txt1" href="#">
				Forgot Password?
			</a>
		</div>
	</form>
	{% if error != None %}
		<aside id="column-right" class="col-sm-3 hidden-xs">
			<h3 class="subtitle" style="color : red">Errors : </h3>
			<div class="list-group">
				<ul class="list-item">
					<li>{{ error }}</li>
					<li>Is Ok: {{ is_ok }}</li>
				</ul>
			</div>
		</aside>
	{% endif %}
{% endblock %}