{% extends 'blog/sharedPage.html' %}
{% load static %}
{% block title %} Home Page {% endblock %}
{% block head %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"> </script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
{% endblock %}
{% block body %}
  <section class="site-section pt-5 pb-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <div class="owl-carousel owl-theme home-slider">
            {% for post in headerPost %}
            <div>
              <a href={% url 'posts' post.slug %} class="a-block d-flex align-items-center height-lg" style="background-image: url({{ post.photo.url }}); ">
                <div class="text half-to-full">
                  <span class="category mb-5">{{ post.display_categories }}</span>
                  <div class="post-meta">

                    <span class="author mr-2"><img src={{ post.author.nuser.profile }} alt={{ post.author.get_full_name }}> {{ post.author.get_full_name }}</span>&bullet;
                    <span class="mr-2">{{ post.date }}</span>

                  </div>
                  <h3>{{ post.title }}</h3>
                  <p>{{ post.description }}</p>
                </div>
              </a>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END section -->
  <section class="site-section py-sm">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2 class="mb-4">Latest Posts</h2>
        </div>
      </div>
      <div class="row blog-entries">
        <div class="col-md-12 col-lg-8 main-content">
          <div class="row">
            {% for post in latestPosts %}
            <div class="col-md-6">
              <a href="blog-single.html" class="blog-entry element-animate" data-animate-effect="fadeIn">
                <img src={{ post.photo.title }} alt="Image placeholder">
                <div class="blog-content-body">
                  <div class="post-meta">
                    <span class="author mr-2"><img src={{ post.author.nuser.profile.url }} alt={{ post.author.get_full_name }}> {{ post.author.get_full_name }}</span>&bullet;
                    <span class="mr-2">{{ post.date }}</span>
                  </div>
                  <h2>{{ post.title }}</h2>
                </div>
              </a>
            </div>
            {% endfor %}
          </div>

          {% if is_paginated %}
          <div class="row mt-5">
            <div class="col-md-12 text-center">
              <nav aria-label="Page navigation" class="text-center">
                <ul class="pagination" id="pagination">
                  {% if page_obj.has_previous %}<li class="page-item  active"><a class="page-link" href="{{ request.path }}?page={{ page_obj.previous_page_number }}">&lt;</a></li>{% endif %}
                  <!--<li class="page-item"><a class="page-link" href="#">1</a></li>-->
                  <script>
                    var i = {{ page_obj.paginator.num_pages | safe }};
                    var ul = document.getElementById("pagination");
                    var page = "?page=";
                    for(j = 0; j <= i; j++){
                      var child = document.createElement("li");
                      child.setAttribute("class", "page-item");
                      var childa = document.createElement("a");
                      childa.setAttribute("class", "page-link");
                      childa.setAttribute("href", page.concat(j));
                      childa.innerHTML = j;
                      child.appendChild(childa);
                      ul.appendChild(child);
                    }
                  </script>
                  {% if page_obj.has_next %}<li class="page-item"><a class="page-link" href="{{ request.path }}?page={{ page_obj.next_page_number }}">&gt;</a></li>
                </ul>
              </nav>
            </div>
          </div>
          {% endif %}

        </div>

        <!-- END main-content -->

        <div class="col-md-12 col-lg-4 sidebar">
          <div class="sidebar-box search-form-wrap">
            <form action="{% url 'search' %}" class="search-form" method="GET">
              {% csrf_token %}
              <div class="form-group">
                <span class="icon fa fa-search"></span>
                <input name="search_txt" type="text" class="form-control" id="s" placeholder="Type a keyword and hit enter">
                <button class="form-control" value="search" type="submit"/>
              </div>
              <script>
                $(document).ready(function(){
                  $("#txtSearch").autocomplete({
                      source: "/ajax_calls/search/",
                      minLength: 2,
                      open: function(){
                          setTimeout(function () {
                              $('.ui-autocomplete').css('z-index', 99);
                          }, 0);
                      }
                  });
                });
              </script>
            </form>
          </div>
          <!-- END sidebar-box -->
          <div class="sidebar-box">
            <div class="bio text-center">
              <img src={{ creator.nuser.profile.url }} alt="Image Placeholder" class="img-fluid">
              <div class="bio-body">
                <h2>{{ creator.get_full_name }}</h2>
                <p>{{ creator.nuser.bio }}</p>
                <p><a href="#" class="btn btn-primary btn-sm rounded">Read my bio</a>
                {% if creator.facebook %}<a href={{ creator.facebook }} class="p-2"><span class="fa fa-facebook"></span></a> {% endif %}
                {% if creator.twitter %}<a href={{ creator.twitter }} class="p-2"><span class="fa fa-twitter"></span></a> {% endif %}
                {% if creator.instagram %}<a href={{ creator.instagram }} class="p-2"><span class="fa fa-instagram"></span></a> {% endif %}
                {% if creator.youtube %}<a href={{ creator.youtube }} class="p-2"><span class="fa fa-youtube-play"></span></a> {% endif %}
                </p>
              </div>
            </div>
          </div>
          <!-- END sidebar-box -->
          <div class="sidebar-box">
            <h3 class="heading">Popular Posts</h3>
            <div class="post-entry-sidebar">
              <ul>
                {% for post in popularPosts %}
                <li>
                  <a href="">
                    <img src={{ post.photo.url }} alt="Image placeholder" class="mr-4">
                    <div class="text">
                      <h4>{{ post.title }}</h4>
                      <div class="post-meta">
                        <span class="mr-2">{{ post.date }}</span>
                      </div>
                    </div>
                  </a>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <!-- END sidebar-box -->

          <div class="sidebar-box">
            <h3 class="heading">Categories</h3>
            <ul class="categories">
              {% for category in categories %}
              <li><a href="#">{{ category.title }}</a></li>
              {% endfor %}
            </ul>
          </div>
          <!-- END sidebar-box -->

          <div class="sidebar-box">
            <h3 class="heading">Tags</h3>
            <ul class="tags">
              {% for tag in tags %}
              <li><a href="#">{{ tag.name }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <!-- END sidebar -->

      </div>
    </div>
  </section>
{% endblock %}